<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="ghooey is versatile drop-in front-end toolkit designed to allow developers to easily build and integrate Aave widgets in their existing codebase."
    />
    <title>ghooey: drop-in toolkit to build custom Aave widgets</title>
  </head>
  <body class="flex h-full flex-col items-center bg-lime-50">
    <div class="px-3 pt-12 pb-16 grid gap-y-6 mx-auto max-w-prose">
      <div class="grid gap-6">
        <section>
          <h1
            class="text-5xl tracking-widest hover:tracking-wide transition-all text-center text-lime-500 pb-8 font-bold"
          >
            ghooey
          </h1>
          <div class="gap-y-6 grid text-center">
            <img src="/logo.png" class="max-w-[250px] mx-auto" />
            <p class="text-lg rounded-[1.5em] px-[1.25em] pt-[1em] pb-[1.2em] bg-lime-200 text-lime-900">
              <span class="font-bold">ghooey</span> is a versatile drop-in front-end toolkit designed to allow developers
              to easily build and integrate Aave widgets in their existing codebase.
            </p>
          </div>
        </section>
        <nav class="flex flex-wrap gap-3 mx-auto">
          <a
            class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
            href="/00-overview">Docs</a
          >
          <a
            class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
            href="/examples">Examples</a
          >
          <a
            class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
            target="_blank"
            href="https://github.com/naomiHauret/lfgho-hackathon-2024">Github</a
          >
        </nav>
      </div>
      <section class="text-gray-600">
        <p>
          Built on top of <a
            class="font-bold text-gray-600 underline hover:no-underline focus:no-underline hover:text-gray-500 focus:text-gray-700"
            target="_blank"
            href="https://alpinejs.dev/">Alpine.js</a
          > and <a
            class="text-gray-600 underline hover:no-underline focus:no-underline hover:text-gray-500 focus:text-gray-700"
            target="_blank"
            href="https://github.com/aave/aave-utilities">aave-utilities</a
          >, <span class="text-lime-600 font-bold">ghooey</span> makes it easy for developers to build widgets that integrate
          <a
            href="https://aave.com/"
            class="font-bold text-gray-600 underline hover:no-underline focus:no-underline hover:text-gray-500 focus:text-gray-700"
            target="_blank">Aave</a
          > features like :
        </p>
        <ul class="list-disc py-3 ps-[3ex]">
          <li>Monitor their Aave portfolio ;</li>
          <li>Deposit and borrow liquidity from Aave markets ;</li>
          <li>Transfer liquidities and delegate their borrowing powers to other users ;</li>
          <li>Display Aave markets data in real time ;</li>
        </ul>
      </section>
      <section>
        <p class="text-center text-gray-600">
          Ultimately, the goal of <span class="text-lime-600 font-bold">ghooey</span> is to help promote the growth the adoption
          of web3 protocols in web2 products by offering a <span class="font-bold"
            >developer experience that would be enjoyable even when working with a "dated" or "back-end oriented" tech
            stack</span
          >
          <span class="text-xs">(which is actually most websites out there)</span>.
        </p>
      </section>
    </div>
  </body>
</html>
