---
import GhooeyWallet from '../components/GhooeyWallet.astro'
import GhooeyWalletSummary from '../components/GhooeyWalletSummary.astro'
import Instructions from './../components/Instructions.md'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ghooey: drop-in UI & primitives toolkit for Aave</title>
  </head>
  <body>
    <div class="px-3 pt-12 mx-auto max-w-prose">
      <section class="pb-12">
        <h1 class="text-3xl text-center pb-3 font-bold">ghooey</h1>
        <div class="bg-gray-50 p-3 text-md rounded-lg">
          <Instructions />
        </div>
      </section>
      <div class="grid gap-6 divide-y divide-neutral-200" x-data>
        <div>
          <div class="mb-8 p-6 rounded-lg bg-gray-100">
            <h1 class="font-bold text-gray-700 text-lg">Connnect wallet</h1>
            <p class="text-gray-800">
              Optional component. Helps user connect their wallet/see their current connected wallet.
            </p>
          </div>
          <GhooeyWallet />
        </div>
        <div>
          <div class="mb-8 p-6 rounded-lg bg-gray-100">
            <h1 class="font-bold text-gray-700 text-lg">Wallet summary (given address)</h1>
            <p class="text-gray-800">Provides a summary of a given Ethereum address' positions, borrowing power.</p>
          </div>
          <GhooeyWalletSummary walletAddress="'0xE665CEf14cB016b37014D0BDEAB4A693c3F46Cc0'" />
        </div>
      </div>
      <script>
        import { setupGhooey } from './../scripts/ghooey'

        // Give ghooey elements super powers !
        setupGhooey()

        window.Alpine.start()
      </script>
    </div>
  </body>
</html>
