<template x-if="$store.currentUser.account">
  <ul>
    <template x-for="(value, index) in $aaveAssetsDictionary">
      <li
        x-data="erc20BalanceOf"
        x-init="getTokenBalanceForAddress({tokenAddress: value.UNDERLYING, tokenDecimal: value.decimal , walletAddress: $store.currentUser.account })"
      >
        <template x-if="fetchStatus === 'pending'">
          <span x-text="'Loading ' + index + ' balance for '+ $store.currentUser.account +' ...'"></span>
        </template>
        <template x-if="balance">
          <span x-text="$formatERC20Balance(balance.formatted, index)"></span>
        </template>
      </li>
    </template>
  </ul>
</template>
