<template x-if="!$store.currentUser.account">
  <p>Connect your wallet to borrow some GHO !</p>
</template>
<template x-if="$store.currentUser.account">
  <template x-if="$store.currentUser.aavePortfolio.summary">
    <section
      x-data="aaveBorrowReserveAsset"
      x-init=`
    market = 'GHO';
    token = $aaveAssetBySymbol(market);
    interestRateMode= 'Variable';
    amount = 1;
    userAssetData = $store.currentUser?.aavePortfolio?.summary.userReservesData.filter(reserve =>  token.UNDERLYING.toLowerCase() === reserve.underlyingAsset.toLowerCase())[0];
    maxBorrowableAmount = parseFloat(userAssetData.reserve.maxGhoMintAmount) < parseFloat(userAssetData.reserve.formattedAvailableLiquidity) ? parseFloat(userAssetData.reserve.maxGhoMintAmount): parseFloat(userAssetData.reserve.formattedAvailableLiquidity)
    `
    >
      <form @submit.prevent="borrow()">
        <div>
          <label for="borrow">Amount to borrow</label>
          <input
            x-model.number="amount"
            min="0.000001"
            id="borrow"
            type="number"
            placeholder="1.00"
            max="maxBorrowableAmount"
            step="0.000001"
          />
          <span x-text="'You can borrow up to ' +  $formatERC20Balance(maxBorrowableAmount, 'GHO')"> </span>
          <button>Borrow</button>
        </div>
        <span x-text="status"></span>
      </form>
    </section>
  </template>
</template>
