<template x-if="$store.currentUser.account">
  <div x-data="walletAaveDataSummary" x-init="address = $store.currentUser.account" x-effect="getSummary()">
    <template x-if="fetchStatus === 'pending' ">
      <span x-text="'Loading ' + address + ' holdings...'"></span>
    </template>
    <template x-if="fetchStatus === 'success' ">
      <section>
        <h1>Holding</h1>
        <ul x-data="{ assets: summary.userReservesData }">
          <template x-for="asset in assets">
            <li
              x-data="erc20SingleBalance"
              x-init="getTokenBalanceForAddress({tokenAddress: asset.underlyingAsset, walletAddress: $store.currentUser.account })"
            >
              <span x-text="fetchStatus"></span>
              <template x-if="fetchStatus === 'pending'">
                <span x-text="'Loading ' + asset.reserve.symbol + ' balance...'"></span>
              </template>
              <template x-if="fetchStatus === 'success' && balance">
                <span x-text="$formatERC20Balance(balance.formatted, asset.reserve.symbol)"></span>
              </template>
            </li>
          </template>
        </ul>
      </section>
    </template>
  </div>
</template>
