---
import TipCreator from './../../components/TipCreator.astro'
import Borrow from './../../components/Borrow.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Examples of Aave widgets built with ghooey and Alpine.js" />
    <title>Examples built with ghooey - toolkit to build custom Aave widgets</title>
  </head>
  <body class="flex h-full flex-col">
    <div class="mx-auto px-3 flex flex-col max-w-prose pb-24 pt-12">
      <h1 class="text-center pb-8">
        <span
          class="text-5xl font-bold block pb-[0.5ch] text-lime-500 tracking-widest hover:tracking-wide transition-all"
          >ghooey</span
        >
        <span class="text-sm text-gray-600">custom widgets examples</span>
      </h1>
      <nav class="flex flex-wrap pb-3 gap-3 mx-auto">
        <a
          class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
          href="/00-overview">Docs</a
        >
        <a
          class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
          href="/examples">Examples</a
        >
        <a
          class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
          href="/sandbox">Sandbox</a
        >
        <a
          class="text-lime-800 underline font-bold hover:no-underline focus:no-underline hover:text-lime-600 focus:text-lime-900"
          target="_blank"
          href="https://github.com/naomiHauret/lfgho-hackathon-2024">Github</a
        >
      </nav>
      <hr />
      <div class="pt-6 grid gap-12" x-data>
        <template x-if="!$store.currentUser.account">
          <div class="flex flex-col items-center gap-3">
            <p class="text-sm text-center text-slate-600">Connect with a web3 wallet to use the demo widgets.</p>
            <button
              :class="$store.currentUser.status === 'connecting' && 'animate-pulse'"
              :aria-disabled="['connecting', 'reconnecting'].includes($store.currentUser.status) ? true : false"
              class="py-[0.35em] px-[0.5em] rounded-[0.25em] font-bold aria-[disabled]:pointer-events-none bg-lime-500 text-lime-50"
              aria-label="Connect via your web3 browser wallet (Metamask, Taho...)"
              x-text="['connecting'].includes($store.currentUser.status) ? 'Connecting...' : 'Connect'"
              @click="$store.currentUser.connect()"></button>
          </div>
        </template>
        <section>
          <div class="p-3 mb-6 rounded-lg text-sm bg-lime-50">
            <h1 class="font-bold text-lime-900">Tip creator</h1>
            <p class="text-gray-600">
              A widget that allows users to tip a creator. Showcases peer-to-peer GHO transfer.
            </p>
          </div>
          <TipCreator />
        </section>
        <section>
          <div class="p-3 mb-6 rounded-lg text-sm bg-lime-50">
            <h1 class="font-bold text-lime-900">Borrow GHO</h1>
            <p class="text-gray-600">A widget that allows the connected user to borrow GHO.</p>
          </div>
          <Borrow />
        </section>
      </div>
    </div>
    <script>
      import Alpine from 'alpinejs'
      import { setupGhooey } from './../../scripts/ghooey'
      window.Alpine = Alpine

      // Give ghooey elements super powers !
      setupGhooey()

      window.Alpine.start()
    </script>
  </body>
</html>
